*{
    padding: 0;margin: 0;box-sizing: border-box;
}
body{
    background-image: url(../images/p7-bg-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
}
.menu ul{
    list-style: none;
    display: inline-flex;

}

.menu {
    background: rgb(50,50,50);
    text-align: center;
}
.menu ul li{
    width: 150px;
    margin: 15px;
    padding: 15px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    background-color: goldenrod ;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 7    px;
}
